PORT=5000
MONGODB_URI=mongodb+srv://kishan7112_db_user:V3y4QU3FIhHxnavr@restraunt.kmajd7a.mongodb.net/
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRY=24h
MASTER_ADMIN_EMAIL=nuramonlks@gmail.com
MASTER_ADMIN_PASSWORD=123
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5000
PDF_PROCESS_URL=https://b87a85657946.ngrok-free.app/parse-menu
SEND_SMS_URL=https://api.dify.ai/v1/chat-messages
SMS_MSG_HEADERS={"Authorization": "Bearer app-jTGLIdhWZKjQNwcVjRk3wZvg", "Content-Type": "application/json"}
CHAT_MSG_URL=https://api.dify.ai/v1/chat-messages
CHAT_MSG_HEADERS={"Authorization": "Bearer app-klulT6jcUJosmAHFbNzs9of5", "Content-Type": "application/json"}


