VITE_API_URL=http://localhost:5000/api
VITE_FRONTEND_URL=http://localhost:3000
VITE_CHAT_MSG_URL=https://api.dify.ai/v1/chat-messages
VITE_CHAT_MSG_HEADERS={"Authorization": "Bearer app-klulT6jcUJosmAHFbNzs9of5", "Content-Type": "application/json"}


